form#contact-form.form(
  action="https://formspree.io/xgeaeraq",
  method="post",
  enctype="multipart/form-data"
)
  input.form__input.form__name(placeholder="Full name", name="Full-name")
  input.form__input.form__number(
    type="number",
    placeholder="Phone number",
    name="Number"
  )
  input.form__input.form__email(
    type="email",
    required,
    placeholder="E-mail",
    name="E-mail"
  )
  input.form__input.form__country(placeholder="Country", name="Country")

  input.form__input.form__company(placeholder="Company", name="Company")
  textarea.form__input.form__textarea.form__message(
    placeholder="Message",
    name="Textarea"
  )
  .form__attach-wrapper
    label(for="upload").form__new-btn
      img(src="./../../components/Form/images/arrow-up-solid.svg")
    input#upload(type="file", name="upload").form__attach
  input.form__submit.button(type="submit", value="SEND MESSAGE")
