doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title B2B Lead Generation &#x2744;&#xFE0F;&phone;&#xFE0F;&#x2709;&#xFE0F; Datarob
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(
      name="description",
      content="Datarob is B2B lead generation provider for digital companies: IT, Software, tech, Robo, aaS, DM, 3D. Boost your sales with a stream of qualified leads"
    )
    link(
      rel="shortcut icon",
      href="https://datarob.com/content/images/2020/04/logo-1.png",
      type="image/png"
    )
    link(rel="canonical", href="https://datarob.com/")
    meta(name="referrer", content="no-referrer-when-downgrade")
    meta(property="og:locale", content="en_US")
    meta(property="og:site_name", content="Datarob")
    meta(property="og:type", content="website")
    meta(property="og:title", content="B2B Lead Generation ❄️☎️✉️ Datarob")
    meta(
      name="keywords",
      content="b2b lead generation, b2b lead generation services, b2b lead generation company, lead generation"
    )
    meta(
      property="og:description",
      content='Datarob is B2B lead generation provider for digital companies: IT, Software, tech, Robo, aaS, DM, 3D. Boost your sales with a stream of qualified leads\
    '
    )
    meta(property="og:url", content="https://datarob.com/")
    meta(property="og:image", content="https://datarob.com/Datarob-image.jpeg")
    meta(
      property="article:publisher",
      content="https://www.facebook.com/ghost"
    )
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content="B2B Lead Generation ❄️☎️✉️ Datarob")
    meta(
      name="twitter:description",
      content="Datarob is B2B lead generation provider for digital companies: IT, Software, tech, Robo, aaS, DM, 3D. Boost your sales with a stream of qualified leads"
    )
    meta(name="twitter:url", content="https://datarob.com/")
    meta(
      name="twitter:image",
      content="https://datarob.com/Datarob-image.jpeg"
    )
    meta(name="twitter:site", content="@block03")
    meta(property="og:image:width", content="1600")
    meta(property="og:image:height", content="979")
    //script.
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
                i[r] ||
                function () {
                  (i[r].q = i[r].q || []).push(arguments);
                }),
                (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
              window,
              document,
              "script",
              "https://www.google-analytics.com/analytics.js",
              "ga"
      );
      ga("create", "UA-28107525-1", "auto");
      ga("send", "pageview");


  body
    include ../components/Header/Header
    main.main
      include ../components/Lead-generation/Lead-genaration
      include ../components/Sales-boost/Sales-boost
      include ../components/Local-lead/Local-lead
      include ../components/How-it-works/How-it-works
      include ../components/Premium-lead/Premium-lead
      include ../components/Next/Next
      include ../components/Contact-us/Contact-us
    include ../components/Footer/Footer
