section.premium-lead
  .premium-lead__container.container
    - let premiumLeadTitle = 'Lead generation tools and hacks';
      h2.premium-lead__title.title #{premiumLeadTitle}
    - let premiumLeadDescription = 'For premium-quality leads, you need to use the best tools and cooperate with people who understand your domain specification. Our vision on how to develop a premium lead generation agency:';
      .premium-lead__description #{premiumLeadDescription}
    .premium-lead__background
      - let premiumLeadBG = './../../components/Premium-lead/images/premium-lead-bg.svg';
        img(src=premiumLeadBG, alt="image")
    .premium-lead__steps
      -
        let premiumLeadContent = [
            {
                title: '#1',
                description: 'We handle only cutting-edge domains: IT, software, consulting, social influence'
            },
            {
                title: '#2',
                description: 'We hunt the best performing employees from Cience, BANT and other competitors'
            },
            {
                title: '#3',
                description: 'We hunt the best performing employees from Cience, BANT and other competitors'
            }
        ]
      each leadContent in premiumLeadContent
        .premium-lead__step-item
          .premium-lead__step-title #{leadContent.title}
          .premium-lead__step-description #{leadContent.description}
