section.premium-lead
  .premium-lead__container.container
    - let premiumLeadTitle = 'Lead generation tools and hacks';
      h2.premium-lead__title.title #{premiumLeadTitle}
    - let premiumLeadDescription = 'For premium-quality leads, you need to use the best tools and cooperate with people who understand your domain specification. Our vision on how to develop a premium lead generation agency:';
      .premium-lead__description #{premiumLeadDescription}
    .premium-lead__background
      - let premiumLeadBG = './../components/Premium-lead/images/premium-lead-bg.svg';
        img(src=premiumLeadBG, alt="image")
    .premium-lead__steps
      -
        let premiumLeadContent = [
            {
                title: '#1',
                description: 'We thoroughly filter Clients and work only with IT, software, consulting, and social influence.'
            },
            {
                title: '#2',
                description: 'We have formed our own culture of hiring, engaging and continuous learning for employees. You will work with top-performing, happy people.'
            },
            {
                title: '#3',
                description: 'We spend thousands of dollars monthly, investing in the best tools on the market. Doing it in-house would require a large team and investments.'
            }
        ]
      each leadContent in premiumLeadContent
        .premium-lead__step-item
          .premium-lead__step-title #{leadContent.title}
          .premium-lead__step-description #{leadContent.description}
