footer.footer
  .footer__container.container
    .footer__wrapper
      img.footer__logo(
        src="./../../components/Footer/images/logo.svg",
        alt="Datarob-logo"
      )
      .footer__phone-wrapper
        - let phoneIcon = './../../components/Footer/images/phone.svg';
          img.footer__phone-icon(src=phoneIcon, alt="Phone-icon")
        a.footer__phone-link(href="tel:+380523249548") +380523249548
      .footer__map-wrapper
        - let mapIcon = './../../components/Footer/images/map-marker-alt-solid.svg';
          img.footer__map-icon(src=mapIcon, alt="Map-icon")
        .footer__map-box
          a.footer__map-link Kyiv, Ivana Fedorova street 44
          a.footer__map-link Riga, Ivana Fedorova street 44
    .footer__wrapper
      ul.footer__list
        -
          let secondWrapperContent = [
              {
                  title: 'Lead Generation Agency',
                  link: 'https://datarob.com/lead-generation-agency/\n'
              },
              {
                  title: 'hire researcher\n',
                  link: 'https://datarob.com/hire-data-researcher/\n' +
                          ''
              },
              {
                  title: 'software companies near me\n',
                  link: 'https://datarob.com/software-companies-near-me/\n'
              },
              {
                  title: 'lead generation specialist\n',
                  link: 'https://datarob.com/lead-generation-agency/\n'
              },
              {
                  title: 'Information vs data vs knowledge\n',
                  link: 'https://datarob.com/information-vs-data-vs-knowledge/'
              },
              {
                  title: 'lead generation for it companies\n',
                  link: 'https://datarob.com/lead-generation-for-it-companies/\n'
              }
              ]
        each secondContent in secondWrapperContent
          li.footer__item
            a.footer__item-link(href=secondContent.link, target="_blank") #{secondContent.title}
    .footer__wrapper
      ul.footer__list
        -
          let thirdWrapperContent = [
              {
                  title: 'Lead Generation Agency',
                  link: 'https://datarob.com/lead-generation-agency/'
              },
              {
                  title: 'hire researcher\n',
                  link: 'https://datarob.com/hire-data-researcher/'
              },
              {
                  title: 'software companies near me\n',
                  link: 'https://datarob.com/software-companies-near-me/\n'
              },
              {
                  title: 'lead generation specialist\n',
                  link: 'https://datarob.com/lead-generation-agency/\n'
              },
              {
                  title: 'Information vs data vs knowledge\n',
                  link: 'https://datarob.com/information-vs-data-vs-knowledge/'
              },
              {
                  title: 'lead generation for it companies\n',
                  link: 'https://datarob.com/lead-generation-for-it-companies/\n'
              }
          ]
        each thirdContent in thirdWrapperContent
          li.footer__item
            a.footer__item-link(href=thirdContent.link, target="_blank") #{thirdContent.title}
    .footer__wrapper
      .footer__icon-box
        -
          let footerSocialIcon = [
              {
                  imgPath: './../../components/Footer/images/facebook.svg',
                  alt: 'facebook',
                  link: '#!'
              },
              {
                  imgPath: './../../components/Footer/images/twitter.svg',
                  alt: 'twitter',
                  link: '#!'
              },
              {
                  imgPath: './../../components/Footer/images/linkedin.svg',
                  alt: 'linkedin',
                  link: '#!'
              },
              {
                  imgPath: './../../components/Footer/images/instagram.svg',
                  alt: 'instagram',
                  link: '#!'
              }
          ]
        each socialIcon in footerSocialIcon
          a.footer__icon-link
            .footer__icon-circle
              img.footer__icon-svg(src=socialIcon.imgPath, alt=socialIcon.alt)

      .footer__lead-generation
        p Lead Generation Company
        p Datarob © 2020
      .footer__regulations-box
        a.footer__regulations-link(href="#!") Terms of use
        a.footer__regulations-link(href="#!") Privicy policy
