footer.footer
  .footer__container.container
    .footer__wrapper
      img.footer__logo(
        src="./../components/Footer/images/logo.svg",
        alt="Datarob-logo"
      )
      .footer__phone-wrapper
        - let phoneIcon = './../components/Footer/images/phone.svg';
          img.footer__phone-icon(src=phoneIcon, alt="Phone-icon")
        a.footer__phone-link(href="tel:+380503371100") EMEA: +380503371100
      .footer__phone-wrapper
        - let secondPhoneIcon = './../components/Footer/images/phone.svg';
          img.footer__phone-icon(src=secondPhoneIcon, alt="Phone-icon")
        a.footer__phone-link(href="tel:+13477095999") USA: +13477095999
      .footer__map-wrapper
        - let mapIcon = './../components/Footer/images/map-marker-alt-solid.svg';
          img.footer__map-icon(src=mapIcon, alt="Map-icon")
        .footer__map-box
          a.footer__map-link Kyiv, Ivana Fedorova street 44
    .footer__wrapper
      ul.footer__list
        -
          let secondWrapperContent = [
              {
                  title: 'Lead Generation Agency',
                  link: 'https://datarob.com/lead-generation-agency/'
              },
              {
                  title: 'hire researcher',
                  link: 'https://datarob.com/hire-data-researcher/'
              },
              {
                  title: 'Ideal Customer Profile',
                  link: 'https://datarob.com/ideal-customer-profile-b2b-full-guide-definition-templates-creation-segmentation/'
              },
              {
                  title: 'outbound lead generation',
                  link: 'https://datarob.com/outbound-lead-generation/'
              },
              {
                  title: 'local lead generation',
                  link: 'https://datarob.com/local-lead-generation/'
              }
              ]
        each secondContent in secondWrapperContent
          li.footer__item
            a.footer__item-link(href=secondContent.link, target="_blank") #{secondContent.title}
    .footer__wrapper
      .footer__icon-box
        -
          let footerSocialIcon = [
              {
                  imgPath: './../components/Footer/images/facebook.svg',
                  alt: 'facebook',
                  link: '#!'
              },
              {
                  imgPath: './../components/Footer/images/twitter.svg',
                  alt: 'twitter',
                  link: '#!'
              },
              {
                  imgPath: './../components/Footer/images/linkedin.svg',
                  alt: 'linkedin',
                  link: 'https://www.linkedin.com/company/datarob/'
              },
              {
                  imgPath: './../components/Footer/images/instagram.svg',
                  alt: 'instagram',
                  link: 'https://www.instagram.com/_mister.handsome/'
              }
          ]
        noindex.footer__noindex
          each socialIcon in footerSocialIcon
            a.footer__icon-link(
              href=socialIcon.link,
              rel="nofollow",
              target="_blank"
            )
              .footer__icon-circle
                img.footer__icon-svg(
                  src=socialIcon.imgPath,
                  alt=socialIcon.alt
                )

      .footer__lead-generation
        p Lead Generation Company
        p Datarob © 2020
        a.footer__mail(href="mailto:hello@datarob.com") hello@datarob.com
      .footer__regulations-box
        a.footer__regulations-link Terms of use
        a.footer__regulations-link Privacy policy
